

@media (max-width: 500px) {
    .componentHeader {
        display: flex;
        flex-direction: column;
        .socials {
            max-height: 50px;
            min-width: 120px;
        }
        nav {
            display: flex;
            flex-direction: column;
            width: 80%;
            > * {
                width: 80%;
                background-color: black;
                margin: 5px;
            }
            a {
                color: white;
                padding: 10px;
                &:hover {
                    background-color: white;
                    border: black 1px solid;

                };
            };
        };
    };
}

@media (min-width: 500px) {
    .navBar a {
        padding: 5px;
        color: black;
    };
}


.componentHeader {
    display: flex;
    font-family: monospace;
    justify-content: space-between;
    justify-items: center;
    padding: 0px 10px 0px 10px;
    align-items: center;
    border: red 3px solid;
    min-height: 80px;
    > * {
        border: red 3px solid;
    }
    nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        max-width: 300px;
        min-height: 70px;
        a {
            text-decoration: none;
            &:hover {
                color: blue;
            };
        }

    }
    .socials {
        width: 80px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        > * {
            padding: 5px;
            &:hover {
                color:blue
            };
        };
    }
    .logo {
        width: 120px;
        height: 70px;
        display: flex;
        align-items: center;

    }
    .logoImg {
        max-width: 120px;
    };
};