/* Basic CSS Reset with border-box */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: monospace;
    line-height: 1.5;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


@media (max-width: 500px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        min-width: 85%;
        > * {
            min-width: 80%;
            text-align: center;
            background-color: black;
            color: white;
            margin: 2px;
            &:hover {
                background-color: rgb(228, 228, 228);
                
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-height: 100px;
    align-items: center;
    border: 3px red solid;
    > * {
        border: 3px red solid;
    }
    .header__logo {
        min-height: 60px;
        img {
            width: 120px;
        }
    };
    .header__nav {
        display: flex;
        > * {
            padding: 10px;
            &:hover {
                color: blue;
            }
        }
    }
    .header__icons i {
        padding: 0px 5px 0px 5px;
        &:hover {
            color: blue;
        }
    }
}

