<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- delete these scripts for production with Webpack -->
    <script type="module">
        import { headerGen } from './node_modules/uiframeworklite/src/components/header/header.js'
        headerGen();
    </script>
</head>
<body>

    <!-- uncomment this for production with Webpack
    <script src="./dist/bundle.js"></script>
        -->

    <!-- delete these scripts for production with Webpack -->
    <script src="./js/main.js"></script>

    
</body>
</html>