<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- <link rel="stylesheet" href="./footer.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>

<footer-component></footer-component>
    <!--
    <footer class="footer">
        <section class="footer__list-section">
            <div class="footer__list-container">
                <h3 class="footer_list-title">Lorem, ipsum dolor.</h3>
                <ul class="footer__list">
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                </ul>
            </div>
            <div class="footer__list-container">
                <h3 class="footer_list-title">Lorem, ipsum dolor.</h3>
                <ul class="footer__list">
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>

                </ul>
            </div>
            <div class="footer__list-container">
                <h3 class="footer_list-title">Lorem, ipsum dolor.</h3>
                <ul class="footer__list">
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                    <li class="fa-solid fa-angle-right footer__item"><a href="#">Lorem, ipsum dolor.</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__copyright-section">
                <p class="footer__copyright"> 
                    `© ${year} ${companyName}. All rights reserved. Website design by <a href="https://brisbanewebsitedesign.au/" target="_blank" rel="noopener noreferrer"><b>Daymedia</b> at Brisbane Website Design</a>.`
                </p>
        </section>
    </footer>
-->





    <script src="./footer.js"></script> 
</body>
</html>

